@import 'tailwindcss';
@plugin '@tailwindcss/forms';

@font-face {
	font-family: Ubuntu;
	font-weight: 400;
	font-display: swap;
	src: url('/fonts/Ubuntu-Regular.ttf');
}
@font-face {
	font-family: Ubuntu;
	font-weight: 500;
	font-display: swap;
	src: url('/fonts/Ubuntu-Medium.ttf');
}
@font-face {
	font-family: Ubuntu;
	font-weight: 700;
	font-display: swap;
	src: url('/fonts/Ubuntu-Bold.ttf');
}

@theme {
	--font-sans: 'Ubuntu', 'sans-serif';
}
